{% extends "base.html" %}

{% block title %}Financial Transactions{% endblock %}

{% block content %}
    <h1>Financial Transactions</h1>

    <!-- Filter Form -->
    <form id="filter-form" class="row g-3 mb-4" method="get" action="{{ request.path }}">
        <div class="col-md-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="start_date" value="{{ request.args.get('start_date', '') }}">
        </div>
        <div class="col-md-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="end_date" value="{{ request.args.get('end_date', '') }}">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
        </div>
    </form>

    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th data-sort-by="date" class="sortable">Date <span class="sort-arrow"></span></th>
                <th data-sort-by="source" class="sortable">Source <span class="sort-arrow"></span></th>
                <th data-sort-by="category" class="sortable">Category <span class="sort-arrow"></span></th>
                <th data-sort-by="bank" class="sortable">Bank <span class="sort-arrow"></span></th>
                <th data-sort-by="amount" class="sortable">Amount (UAH) <span class="sort-arrow"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in data.transactions %}
            <tr title="ID: {{ transaction.id }}">
                <td>{{ transaction.date | format_date }}</td>
                <td>{{ transaction.source_name or '' }}</td>
                <td>{{ transaction.category_name or '' }}</td>
                <td>{{ transaction.data_source_name or '' }}</td>
                <td>{{ "%.2f"|format(transaction.amount) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No transactions found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if data.total_pages > 1 %}
                {% for i in range(1, data.total_pages + 1) %}
                <li class="page-item {% if i == data.current_page %}active{% endif %}">
                    <a class="page-link" href="{{ request.path }}?page={{ i }}{{ request.query_string.decode('utf-8').replace('page=' + data.current_page|string, '') }}">{{ i }}</a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block scripts %}
<script>
    currentSortBy = "{{ request.args.get('sort', 'date') }}";
    currentSortOrder = "{{ request.args.get('order', 'asc') }}";
</script>
{% endblock %}